<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/script.js" defer></script>
    <title>Download</title>
</head>
<body>
<nav>
    <a href="/encrypt">Encrypt</a>
    <a href="/decrypt">Decrypt</a>
    <a href="https://github.com/mostanglan" style="float: right;"><i class="fab fa-github fa-lg"></i></a>
</nav>
<h1 class="title-header"><%= type=='decrypt' ? 'Decrypted' : 'Encrypted' %> File Download</h1>

<div class="container">
    <div class="download-container">
        <img src="/image/<%= type=='decrypt' ? 'decrypt.svg' : 'encrypt.svg' %>" width="130px">
        <p style="text-align: center;"><%= filename %></p>
        <% if(type=='decrypt'){ %>
            <a href="/decrypt/download/<%= filename %>">
        <% } else { %>
            <a href="/download/<%= filename %>">
        <% } %>
            <button>Download</button>
        </a>
    </div>
</div>

</body>
</html>